.header {
    background-color: $navbarBackground;
    display: flex;
    justify-content: space-between;
    padding: 1em;
    height: $navbarHeight;
    position: fixed;
    top: 0; 
    width: 100%; 
    z-index:1;

    &__title {
        margin-left: 1em;
        font-size: 3em;
        line-height: 1.5em;
        color: white;
        width: 5rem

    }
    &__navbar {
        display: flex;
        color: white;
        justify-content: center;
        align-items: center;
        & > * {
            display: flex;
            &:last-child {
                margin-right: -1em;
            }
            font-size: $textMedium;
            cursor: pointer;
            &:hover {
                opacity: .6;
            }  
            @media screen and (max-width: $breakMedium) {
                &:last-child {margin-right: 3rem;}                
                padding-left: 3rem;
            }
        }
        &__item {
            &__text {
                font-size: $textSmall;
                width: 17rem;
                padding-left: .5rem;
                @media screen and (max-width: $breakMedium) {
                    display: none;
                    margin-left: 0;
                }
            }
        }
    }
}

.history {
    position: fixed;
    top: $navbarHeight;
    right: 0;
    overflow: hidden;
    width: 28rem;
    max-width: 100%;
    min-height: calc(100vh);
    background-color: $colorComplementaryLight;
    transition-duration: .5s;
    &__hide {  
        right: -100%; 
    }
    &__empty {
        font-size: $textSmall;
        width: 26rem;
        text-align: center;
        line-height: $textBig;
    }
    &__user {
        background-color: $colorComplementaryDark;
        padding: 1rem;
        border-radius: .3rem;
        margin: 1rem;
        color: $shade;
        &__container {
            display: flex;
            flex-direction: row;
            align-items: center;
            cursor: pointer;
            &:hover {
                opacity: .8;
            }
        }
        &__about {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            margin-left: 1em;
            &__name {
                font-size: $textSmall;
            }
            &__profession {
                font-size: $textSmallest;
            }        
        }
        &__avatar {
            width: 3em;
            height: 3em;
            border-radius: 3em;
        }
    }
    &__projects {
        margin-left: 2rem;
        margin-top: 1rem;
        display: flex;
        flex-wrap: wrap;
        &:last-child {
            margin-right: 1rem;
        }
        &__image {
            margin-right: 1rem;
            & > img {
                transition-duration: .3s;
                border: 3px solid $shade;
                border-radius: 3px;
                opacity: .9;
                max-height: 5rem;
                height: 4rem;
                width: 6rem;
                max-width: 6rem;
            }
            &:hover img {
                cursor: pointer;
                transform: scale(1.2);
            }
        }
        &__title {
            white-space: nowrap;
            width: 6rem;
            overflow: hidden;
            display:block;
            text-overflow: ellipsis;
            padding-bottom: .5rem;
        }
    }
}