* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
    font-family: proxima-nova,Noto Sans JP,sans-serif;
    
    // // Allow fullscreen
    // overflow-x: hidden;
}

html, body {
    height: 100%;
}

.main { 
    margin-top: $navbarHeight;
    text-align: center;
}

.loading {
    margin-top: 40vh;
    display: flex;
    justify-content: center;
    & > * { font-size: 5rem; }
    color: $colorComplementaryLight;
    &__one { animation: dots 1.5s linear 0s infinite }
    &__two { animation: dots 1.5s linear .5s infinite }
    &__three { animation: dots 1.5s linear 1s infinite }
}
.zoominCursor {
    cursor: zoom-in;
}



@keyframes dots { 50% { opacity: 0; } }
