.project {
    display: flex;
    flex-direction: column;
    margin: $standardMargin;
    border-top: 2em solid $shade; 
    
    &__info { 
        width: 100%;
        background-color: $colorLight;
        display: flex;


        // flex-direction: column;
        // align-items: center;
        padding: 3em;
        justify-content: center;
        @media screen and (max-width: $breakMedium) {                 
            // margin: 12em auto auto auto;
            // width: 90%; 
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        &__container {
            display: flex;
            flex-direction: column;
            // @media screen and (max-width: $breakMedium) {                 
            //     // margin: 12em auto auto auto;
            //     width: 90%; 
            //     justify-content: center;
            //     align-items: center;
            //     text-align: center;
            // }
            @media screen and (min-width: $breakMedium) {
                justify-content: flex-start;
                text-align: left;   
            //     &__credits {
                    
                padding-left: 3rem;
                width: 50%;
            //     }
            }

        }
        &__title {
            font-size: $textBig;
        }
        &__description {
            color: #555;
            font-size: $textMedium;
        }
        &__thumbnail {
            width: 20%;
        }
        &__credits {
            display: flex;
            flex-direction: column;
            // background-color: blue;
            // justify-content: center;
            // background-color: blue;
            // justify-content: flex-start;
            @media screen and (min-width: $breakMedium) {

                align-items: flex-start;
                text-align: left;
                padding-left: 10%;
                width: 50%;
            }
            @media screen and (max-width: $breakMedium) {

                align-items: center;
            }

            padding-bottom: 1.5em;
            color: #555;
            &__container {
                // display: flex;
                // flex-direction: column;
                // align-items: center;
                // justify-content: center;
            }
            & * {
                font-size: $textMedium;
            }
            &__name {
                font-style: italic;
                display: flex;
                align-items: center;
                text-align: center;
                // justify-content: center;
                @media screen and (max-width: $breakMedium) { 

                    & > img { width: 3em; }
                }
                & > img {
                    @media screen and (min-width: $breakMedium) { width: 1.8em; }
                    border-radius: 100%;
                    border-style: solid;
                    border-width: 3px;
                    border-color: $shade;
                    margin-right: 1rem;
                    // margin-left: 1rem;
                }
                transition-duration: .2s;
                &:hover {
                    cursor: pointer;
                    transform: scale(1.05);
                }
            }
            &__role {
                padding: 1rem 0 .5rem 0;                
                color: black;
                font-weight: bold;
                // background-color: pink;
            }
            // &__title {
            //     font-weight: bold;
            //     font-size: $textMedium;
            // }
        }
    }
    &__view {
        position: relative;
        width: 100%;
        height: auto;   
        cursor: pointer;    
        transition-property: opacity, scale, filter;
    
        &:hover img {
                transform: scale(1.05); 
                // opacity: .5;
                // filter: grayscale(100%) blur(.15em); 
            } 
    }
}

.fullscreenImage {
    margin: 0;
    padding: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;

    &__overlay {
        position:absolute;
        z-index: 1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: black;
        width: 100%;
        height: 100%;
        opacity: .9;
    }
    & > img {
        z-index: 1;
        position: absolute;
        top: 50%;
        left: 50%;
        max-width: 95%;
        max-height: 95%;
        transform: translate(-50%, -50%);
    }
    &__button {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100vw;
        z-index: 2;
        width: 5em;
        height: 5em;
        background-color: black;
        opacity: .6;
        color: "pink";
        &:hover {
            opacity: .4;
            cursor: pointer;
        }

        & > * {
            font-size: 3em;
            color: white;
        }

        &-left { 
            left: 5%;
            top: calc(50% - 2.5em);
        }
        &-right {
            right: 5%;
            top: calc(50% - 2.5em);
        } 
        &-fullscreen {
            top: 5%;
            right: calc(6em + 3%);

        }
        &-close {
            top: 5%;
            right: 3%;
        }
        &-compress {
            top: 5%;
            left: 5%;
        }
    }
}