// FONT SIZES
// $textSize: 32px;
$titleSize: 1.2rem;
$nameSize: 1.8rem;

$huge: 2rem;
$big: 1.2rem;

$textBig: 4rem;
$textMedium: 2.4rem;
$textSmall: 1.6rem;
$textSmallest: 1.2rem;
// $textMini: 1rem;

$profileAvatarSize: 25%;

// WIDTHS AND HEIGHTS
$cardWidth: calc(50vw - 6rem);
//vw45%;
$cardHeight: 24vw;
$cardBorderRadius: 2rem;
$cardPadding: 2rem;

$marginBottom: 2rem;
$navbarHeight: 7rem;
$standardMargin: 2rem;

// COLORS
$colorLight:#ADD8E6;
$colorDark:#71b5cc;
$navbarBackground: #71b5cc;

$colorComplementaryLight: #d0ade6;
// rgb(182, 71, 182);
$colorComplementaryDark: #a971cc;

$titleColor: rgb(68, 58, 58);
$shade:  white;
$nameColor: black;
$tagColor: darkgrey;
$darkerShade: rgb(68, 58, 58);
$tagSelectedColor: lightgrey;
$colorDiscrete: white;
$colorText: white;

// queries
// $breakSmall: 500px;
$breakMedium: 500px;
$breakLarge: 900px

// ADD8E6 #71b5cc  #a971cc #d0ade6

// #D1E9F1 #AAD6E5 #F1D9D1 #E6BBAD

// #7ebbcf #4a9bb6
